*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
body{
    height:100vh;
    width:100%;
    background-color: #e0e0e0;

}
.container{
    max-width:900px;
    margin:0px auto;
}
.apply-box{
    max-width:600px;
    padding:20px;
    margin:0px auto;
    margin-top:50px;
    border:1px solid rgba(255,255,255,0.3);
    background:rgba(255,255,255,0.2);
    box-shadow:0 4px 30px rgba(0,0,0,0.1);
    border-radius:40px;
}
.form-container{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}
.form-control{
    display:flex;
    flex-direction:column;
}
label{
    font-size:15px;
    margin-bottom:5px;

}
input,select,textarea{
    padding:6px 10px;
    border:1px solid #cccc;
    border-radius:4px;
    font-size:15px;
}
input:focus{
    outline-color:royalblue;
}
.button-container{
    display:flex;
    justify-content:flex-end;
    margin-top:20px;
}
button{
    background-color:skyblue;
    border:transparent solid 2px;
    color:white;
    border-radius:10px;
    width:100px;
    align-items: center;

}
button:hover{
    background-color:#e0e0e0;
    border:2px solid #034f84;
    transition:0.3s ease-out;
    cursor:pointer;
}
.textarea-control{
    grid-column:1/ span 2;
}
.textarea-control textarea {
    width:100px;
}